/*estilo geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

button {
    padding: 5px;
    background-color: rgb(160, 218, 160);
    border-radius: 20px;
}

.btn {
    padding: 5px;
    color: black;
}

.btn:hover {
    color: rgba(136, 136, 136, 0.801);
}


button:hover {
    background-color: rgb(118, 173, 118);
}

a {
    text-decoration: none;
    color: rgb(145, 145, 145);
}

a:hover {
    text-decoration: none;
    color: rgb(199, 199, 199);
}

/*cabeçalho*/

.flex {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-bottom: 20px;
    max-width: 1400px;
}

.menu-desktop img {
    width: 50px;
}

.logo {
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
}

.logo,
.menu-desktop {
    margin-top: 20px;
    margin: 50px;
}

/*principal*/

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    flex-wrap: wrap;
}

.main img {
    width: 100%;
}

.txt {
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.349);
    border-radius: 20px;
    padding: 20px;

}

.txt h1 {
    margin-bottom: 25px;
    font-weight: bold;
}



.foto img {
    width: 300px;
    border-radius: 30px;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.349);
}

.foto {
    margin-top: 50px;
    margin-bottom: 50px;
}

.texto {
    margin-top: 5px;
    margin-bottom: 50px;
}

.texto h1 {
    font-weight: bold;
}

.texto h1 {
    margin-bottom: 20px;
}

.outros {
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(rgb(248, 155, 155), rgb(255, 84, 84));
}

.txt1 {
    text-align: center;
    font-weight: bold;
}

h6 {
    margin-top: 20px;
    margin-left: 10px;
}

.hover {
    transition: .2s;
}

.hover:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.foto1 p {
    margin-bottom: -80px;
}

.foto1 img {
    width: 70px;
    border-radius: 80px;
    margin-bottom: 10px;
}

.foto1 {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.349);
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.foto1 .logo {
    text-align: left;
}

.footer {
    background: black;
}

.main1 img {
    width: 200px;
}

.main1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    color: white;
    font-weight: bold;
    margin-left: 30px;
}

.footer1,
.footer2,
.footer3 {
    text-align: center;
}

.footer2,
.footer3 {
    text-align: center;
}

/*estilização do menu mobile*/
.mobile,
.menu-icon {
    display: none;

}

/*Responsividade*/
@media screen and (max-width:800px) {
    .texto {
        margin: 20px;
    }

    .txt1 {
        margin-bottom: -200px;
    }

    .mobile,
    .menu-icon {
        display: block;

    }

    .mobile a {
        padding: 30px;
    }

    .mobile ul li {
        text-align: center;
        padding: 40px;
        margin-left: -50px;

    }

    .mobile ul li a:hover {
        color: white;
    }

    .mobile ul li:hover {
        background-color: green;
        color: white;
    }


    .mobile {
        background-color: rgba(0, 0, 0, 0.836);
        width: 0%;
        overflow: hidden;
        position: fixed;
        height: 100vh;
        transition: .5s;
        z-index: 999999;

    }

    .mobile.abrir {
        width: 100%;
    }



    .menu-icon img {
        cursor: pointer;
        width: 50px;
        margin-right: 15px;
    }

    .footer2,
    .footer3 {
        margin-top: 50px;
    }

    .footer1,
    .footer3 {
        margin-bottom: 20px;
    }

    .footer2 {
        margin-bottom: -20px;
    }

    .flex {
        align-items: center;
        margin-left: 10px;
    }

    .main {
        margin-top: 200px;
    }

    .main img {
        margin-top: 100px;
    }

    .menu-desktop {
        display: none;
    }

    .logo {
        margin-left: -5px;
    }
}